{%extends "main/base.html"%}
{%block content%}
<div class="container">
    <div class="card">
        <div class="card-body">
            <p>{{object.masterkey}}</p>
            <p>{{object.name}}</p>
            <img src="{{object.image.url}}">
            <p>{{ object.caption }}</p>
              {% if object.masterkey == user %}
            <a href="{%  url 'post-update' object.id %}">Update</a>
            <a href="{%  url 'post-delete' object.id %}">Delete</a>
            {%endif%}
        </div>
    </div>
</div>

{%endblock%}