{%extends "main/base.html"%} {%block content%}
<div class="container">
  {% for post in posts %}
  <div class="card">
    <div class="card-body" style="background-color: tomato;">
      <p style="font-family:'Kelly Slab', cursive; color: white; "><a href=" {% url 'post-detail' post.id %}"
          style="color: white;">
          {{post.name}}</a></p>
      <img src="{{post.image.url}}" />
      <p style="color: white;  font-family:'Kelly Slab', cursive; ">{{post.post_date}}</p>
      <p style="color: white; font-family:'Kelly Slab', cursive;">{{post.caption}}</p>
      <p style="color: white; font-family:'Kelly Slab', cursive; ">{{post.likes}}</p>
      <p><a href="{% url 'post-comment' post.id %}" style="color:black; font-family:'Kelly Slab',
          cursive; ">Comment on photo</a></p>
      {% for comment in post.comments_set.all %}
      <img class="rounded-circle account-img" src=" {{comment.user.profile.image.url}} " width="200" height="121" />
      <p style="color: white; font-family:'Kelly Slab', cursive;">{{comment.user.username}}</p>
      <br>
     <p style="color: white;  font-family:'Kelly Slab', cursive; ">{{comment.comment}}</p>
      <br />
      {%endfor%}
    </div>
  </div>
  {%endfor%}
</div>
{%endblock%}